/** @format */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
}

/* Shared Color */
.yellow {
  color: rgb(254, 163, 1);
}
.blue {
  color: rgb(1, 172, 253);
}
.blue-gradient {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(222, 245, 255) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 0.94px solid rgb(222, 245, 255);
  box-shadow: inset 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.pink {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 244, 220) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 0.94px solid rgb(255, 244, 220);
  box-shadow: inset 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.white-gradient {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(238, 225, 255) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 0.94px solid rgb(242, 232, 255);
  box-shadow: inset 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.navbar {
  display: flex;
  padding: 20px 0px 20px 0px;
  justify-content: space-evenly;
}
.nav-logo {
  display: flex;
}
.nav-logo-text {
  font-weight: 700;
  font-size: 32px;
  color: Black;
  padding: 15px;
  text-align: left;
}
.nav-lists {
  margin-top: 25px;
  display: flex;
}
.nav-list {
  display: flex;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  margin-left: 32px;
  font-size: 20px;
  color: black;
}
.nav-btn {
  width: 196px;
  height: 50px;
  margin-top: 5px;
}
.nav-button {
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  border-radius: 12px;
  background-color: hsla(38, 99%, 51%, 1);
  color: hsla(0, 0%, 101%, 1);
}
.banner {
  margin-top: 25px;
  display: flex;
  gap: 50px;
}
.banner-text {
  margin-left: 135px;
  margin-top: 113px;
}

.banner-head {
  font-size: 56px;
  font-weight: 700;
  text-align: left;
}

.banner-description {
  margin-top: 24px;
  font-weight: 400;
  font-size: 20px;
  color: Black;
}
.banner-button {
  padding: 10px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 24px;
  background-color: black;
  color: white;
}
.banner-img {
  width: 310px;
  height: 575px;
}
.curriculum-section {
  background: url("/assets/bg.png") no-repeat top left;
}

.curriculam-head {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 50px;
}

.curriculam {
  margin-left: 135px;
  background: url("/assets/bg.png") no-repeat top left;
}
.curriculam-boxes {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.curriculam-box {
  width: 368px;
  height: 450px;
  background: linear-gradient(
    to bottom,
    rgb(222, 245, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 0.94px solid rgb(222, 245, 255);
  box-shadow: inset 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);

  text-align: center;
  border-radius: 18px;
}
.curriculam-box > img {
  margin-top: 25px;
}
.curriculam-box-head {
  margin-top: 20px;
  color: rgb(32, 32, 32);
  font-weight: 700;
}
.curriculam-box-description {
  color: rgb(128, 128, 128);
  font-weight: 500;
  font-size: 15px;
  font-family: railway;
  margin-top: 20px;
}
.curriculam-box-btn {
  margin-top: 25px;
  padding: 4.72px, 23.27px, 4.72px, 0px;
  font-weight: 700;
}
.curriculam-btn {
  margin-left: 515px;
  margin-top: 80px;
}
.curricula-button {
  width: 50px;
  height: 50px;
  background-color: Orange;
  margin-left: 5px;
  padding: 17px, 22.13px, 19px, 22.5px;
  border: none;
  border-radius: 50%;
  font-weight: 900;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Story  */

.our__stories {
  background: url("/assets/bg.png"),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.stories-container > h2 {
  padding-top: 60px;
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

.cards-stories {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 80px;
  padding-bottom: 80px;
  gap: 40px;
}

.story-card {
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
}

.stories__des {
  margin: 34px;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.text3 {
  color: rgb(102, 102, 102);
  font-size: 15.34px;
  font-weight: 500;
}

.story-card > button {
  border-radius: 48px;
  background: rgb(60, 216, 232);
  margin-left: 34px;
  border: none;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  margin-top: -150px;
  color: white;
}

.date {
  margin-left: 34px;
  border-radius: 47.93px;
  background: rgb(60, 216, 232);
  padding: 15px;
  width: 250px;
  text-align: center;
  margin-top: -30px;
  position: relative;
  color: white;
  z-index: 3;
}

.story-card > img {
  position: relative;
}

.img-story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.date__card {
  border-radius: 16px;
  background: white;
  overflow: hidden;
}

.date__card > img {
  position: relative;
}

.text__p {
  margin: 34px;
  font-size: 15px;
  font-weight: bold;
}

.date__line {
  border-radius: 47.93px;
  background: rgb(149, 178, 38);
  width: 200px;
  padding: 15px;
  color: white;
  position: relative;
  z-index: 4;
  margin-left: 34px;
  margin-top: -32px;
}

.date-blue {
  background: rgb(93, 88, 240);
}

.btn__view {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.btn__view button {
  border-radius: 12px;
  background: rgb(17, 17, 17);
  padding: 10px 30px;
  border: 2px solid black;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.marquee {
  margin-left: 110px;
}

/* FOOTER PART */

footer {
  padding: 115px 0;
  background-color: #01acfd;
  color: white;
}

.kids-edu > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.foot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 24px;
}

.kids-edu h2 {
  font-size: 42px;
}

.kids-edu p {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}

.footer__navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__navbar ul {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 12px;
  font-size: 20px;
  font-weight: 500;
}

.social__icon img {
  width: 40px;
}

.social__icon > div {
  margin-top: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .small-logo,
  .hamburger {
    display: none;
  }
}

/* Responsive Design for Small Devices */
@media screen and (max-width: 680px) {
  .navbar {
    display: none; /* Hide other navbar elements */
  }
  .use__mobile__device {
    display: flex;
    flex-direction: column;
  }

  .use__mobile__device > hr {
    border: 0.5px solid #fea301;
  }

  .use__mobile__card__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: calc(100% - 30px);
    margin: 0px auto;
  }

  .hamburger {
    width: 35px;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner-img {
    margin: 0 auto;
  }
  .banner-btn {
    text-align: center;
  }

  .curriculam-head {
    text-align: center;
  }

  .curriculam-boxes {
    flex-direction: column;
    gap: 20px;
  }
  .curriculam-btn {
    display: none;
  }
  .curriculam-head {
    font-size: 26px;
    text-align: center;
  }

  /* Stories */
  .story-card {
    display: none;
  }

  .cards-stories {
    grid-template-columns: 1fr;
  }
  .img-story {
    gap: 10px;
    margin-left: 20px;
    margin-right: 10px;
  }

  .date__line {
    margin-left: 10px;
    padding: 10px;
    font-size: 12px;
    width: 130px;
    margin-top: -22px;
  }

  .text__p {
    margin: 10px;
  }

  /* Footer */
  /* Footer */
  .foot {
    grid-template-columns: 1fr;
  }

  .kids-edu p {
    text-align: left;
  }

  .footer__navbar {
    align-items: flex-start;
    margin-top: 34px;
  }

  .social__icon {
    margin-top: 34px;
  }

  footer {
    padding: 100px 0;
  }

  /* Fixed */
  .arrow-container {
    display: none;
  }

  .story-container h2 {
    font-size: 30px;
  }

  .curriculum > h2 {
    font-size: 30px;
  }
}
